.header-group {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.header-name {
    margin-top: 23px;
}

.header-button {
    text-decoration: none;
    color: black;
    border: solid white 1px;
    border-radius: 3px;
    background: white;
    padding: 3px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -.5px;
}


.upload-img {
    padding: 10px;
    width: 40px;
    height: auto;
}  
