.\/explore {
    position: relative;
    display: flex;
    background-color: rgba(21,21,23,.95);
    align-items: center;
    height: 45px;
    justify-content: space-between;
    padding: 0 147px;
}

.\/photos {
    position: relative;
    display: flex;
    background-color: rgba(21,21,23,.95);
    align-items: center;
    height: 45px;
    justify-content: space-between;
    padding: 0 147px;
}
