.tag-show {
  /* border: 2px solid rgb(207, 214, 217);
  border-radius: 5px;
  margin: 3px;
  color: rgb(33, 33, 36);
  font-size: 16px;
  font-weight: 400;
  padding: 3px 8px; */
  float: right;
}

.tag-name {
  /* border: 2px solid rgb(207, 214, 217);
  border-radius: 5px;
  margin: 3px;
  color: rgb(33, 33, 36);
  font-size: 16px;
  font-weight: 400;
  padding: 3px 8px; */
}