.photo-show-main {
    position: relative;
    height: 100%;
    width: 100%;
}

.photo-show-container {
    background: #212124;
}

.photo-show-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6.5%;
    padding-bottom: 3%;
    margin-top: -78px;
    max-height: 460px;
    max-width: 58%; 
}

.photo-show-info {
    margin-left: 13%;
    margin-right: 13%;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding-bottom: 9%;
}

.photo-show-info-container {
    width: 45%;
    border-bottom: 1px solid #cfd6d9;
    margin-bottom: 15px;
}

.photo-show-info-top {
    display: flex;
    justify-content: space-between;
}

.photo-show-photographer {
    color: #212124;
    font-size: 18px;
}

.photo-show-title {
    color: #212124;
    font-size: 15.5px;    
}

.photo-show-description {
    font-size: 13.5px;
    line-height: 18px;
    font-weight: 400;
}

.photo-show-back {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    padding: 20px;
}

.back-logo {
    height: 12px;
    padding-top: 15px;
    padding-right: 8px;
}