.photos-index {
    width: 100%;
}

.photos-index-item {
    display: block;
}

.photo-img {
    float: left;
    margin-top: 8px;
    margin-left: 15px;
    height: 25%;
    width: 25%; 
    margin-bottom: 15px;
}