.photos-main {
    margin-left: 147px;
    margin-right: 147px;
}

.photos-index {
    display: flex;
    flex-wrap: wrap;
}

.photos-index-item {
    display: block;
}

/* seed wide/small around 15-20 */

/* 
.photo-img {
    float: left;
    margin-top: 8px;
    margin-left: 15px;
    height: 25%;
    width: 25%; 
    margin-bottom: 15px;
} */

.photo-img {
    float: right;
    column-count: 7;
    max-height: 25vh;
    margin: 2px;
}

.photos-explore {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20.5px;
    line-height: 30px;
    font-weight: 100 !important;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #212124;
}