.photo-show-main {
    position: relative;
    height: 100%;
    width: 100%;
}

.photo-show-container {
    background: #212124;
}

.photo-show-main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 3%;
    margin-top: -45px;
    max-height: 400px;
    max-width: 40%; 
}