/* .header {
    position: relative;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    height: 59px;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0px;
} */

.\/ {
    position: relative;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    height: 59px;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0px;  
}

.homepage {
    background: url(https://images.unsplash.com/photo-1558352983-6b862ad859a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    margin-top: -99px;
    z-index: -1;
}

.homepage-text {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    max-width: 620px;
    height: 100%;
    padding-top: 219px;
}

.hometext-h1 {
    font-size: 47px;
    line-height: 56px;
    margin-bottom: 5px;
    font-weight: 600;
}

.hometext-h3 {
    font-size: 24px;
    font-weight: 500;
}

.login-signup {
    text-align: center;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: -2px;
    text-decoration: none;
    font-size: 29px;
    font-weight: bold;
}

.login-signup { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.login { 
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.signup {
    font-weight: 550;
    text-decoration: none;
    color: black;
    border: solid white 1px;
    border-radius: 3px;
    background: white;
    padding-left: 17.5px;
    padding-right: 17.5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 20px;
}

