.header-group {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    height: 64px;
}

.header-button {
    text-decoration: none;
    color: black;
    border: solid white 1px;
    border-radius: 3px;
    background: white;
    padding: 8px;
    margin-left: 10px;
}

.header-upload {
    padding-top: 25px;
    width: 10em;
    float: left;
}