.header-group {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    height: 64px;
}

.header-button {
    text-decoration: none;
    color: black;
    border: solid white 1px;
    border-radius: 3px;
    background: white;
    padding: 8px;
    margin-left: 10px;
}

.upload-img {
    margin-top: 25%;
    padding-right: 10px;
    width: 40px;
    height: auto;;
}  