.upload-main {
    background: rgb(46 46 46);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.upload-container {
    text-align: center;
}

.upload-image {
    max-width: 200px;
}