.upload-main {
    background: rgb(46 46 46);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.upload-container {
    /* text-align: center; */
}

.upload-details {
    
}

.upload-image {
    max-width: 400px;
    border: 3px solid #ff0084;
    border-radius: 2px;
}